<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.cofile.sbapivite.mapper.ProductMapper">
    <!-- 1. tbl_product CRUD -->
    <!-- Insert -->
    <insert id="insertProduct" parameterType="kr.co.cofile.sbapivite.entity.Product">
        INSERT INTO tbl_product (del_flag, pdesc, pname, price)
        VALUES (#{delFlag}, #{pdesc}, #{pname}, #{price})
    </insert>

    <!-- Select (By ID) -->
    <select id="selectProductById" parameterType="long" resultType="Product">
        SELECT * FROM tbl_product WHERE pno = #{pno}
    </select>

    <!-- Update -->
    <update id="updateProduct" parameterType="Product">
        UPDATE tbl_product
        SET del_flag = #{delFlag}, pdesc = #{pdesc}, pname = #{pname}, price = #{price}
        WHERE pno = #{pno}
    </update>

    <!-- Delete -->
    <delete id="deleteProductById" parameterType="long">
        DELETE FROM tbl_product WHERE pno = #{pno}
    </delete>

    <!-- 2. product_image_list CRUD -->
    <!-- Insert -->
    <insert id="insertProductImage" parameterType="kr.co.cofile.sbapivite.entity.ProductImage">
        INSERT INTO product_image_list (product_pno, file_name, file_path, file_type, sequence)
        VALUES (#{productPno}, #{fileName}, #{filePath}, #{fileType}, #{sequence})
    </insert>

    <!-- Select Images By Product ID -->
    <select id="selectImagesByProductId" parameterType="long" resultType="ProductImage">
        SELECT * FROM product_image_list WHERE product_pno = #{productPno}
    </select>

    <!-- Delete Images By Product ID -->
    <delete id="deleteImagesByProductId" parameterType="long">
        DELETE FROM product_image_list WHERE product_pno = #{productPno}
    </delete>

    <!-- 3. Join Query: Fetch Product with Images -->
    <select id="selectProductWithImagesById" parameterType="long" resultMap="ProductWithImages">
        SELECT
            p.pno AS p_pno, p.del_flag AS p_del_flag, p.pdesc AS p_pdesc, p.pname AS p_pname, p.price AS p_price,
            i.imageId AS i_image_id, i.product_pno AS i_product_pno, i.file_name AS i_file_name, i.prd AS i_prd
        FROM tbl_product p
                 LEFT JOIN product_image_list i ON p.pno = i.product_pno
        WHERE p.pno = #{pno}
    </select>

    <!-- Result Map for Product with Images -->
    <resultMap id="ProductWithImages" type="Product">
        <id property="pno" column="p_pno" />
        <result property="delFlag" column="p_del_flag" />
        <result property="pdesc" column="p_pdesc" />
        <result property="pname" column="p_pname" />
        <result property="price" column="p_price" />
        <collection property="images" ofType="ProductImage">
            <id property="imageId" column="i_image_id" />
            <result property="productPno" column="i_product_pno" />
            <result property="fileName" column="i_file_name" />
            <result property="filePath" column="i_file_path" />
            <result property="fileType" column="i_file_type" />
            <result property="uploadDate" column="i_upload_date" />
            <result property="sequence" column="i_sequence" />
        </collection>
    </resultMap>
</mapper>